@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

div.headerImage{
	position: relative;
}

div.text-block {
	font:Amatic SC;
    position: absolute;
    color: white;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -55%);
    width:1000px;
    font-size:40px;
}

.page {
	background-color: #636e7a;
	color: #ffffff;
}
.headerImage img{
	width: 100%
}
div.parkImage img {
	width: 50%;
	border: 2px solid red;
}
div.links{
	display:flex;
	justify-content: flex-end;
	align-items: flex-start;
	position: absolute;
	bottom: 450px;
	left: 1100px; 
	font-size: 30px;
	color: #e1e8f0;
	padding-left:15px;
}
.homeButton{
	background-color: #555555; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
div.parkDetails{
	border: 2px solid
}
div.DetailPage{
	background-color: 
}
div.firstDay{
	display: flex;
	justify-content: flext-start;
}
div.firstDay img{
	width:30%
}
div.fourDayTemp{
	border: 2px solid blue;
}
div.fourDayTemp img{
	width: 20%
}
div.weatherDetails{
	display:inline-table;
}
div.parkInspirationalQoute{
	font-size: 28px;
}
