
div.headerImage{
	position: relative;
}
footer{
	display:flex;
	justify-content: center;
	align-items: space-between;
  position: relative;
	height:100px;
	color: black;
	
}
.link{
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
	
	
}
div.text-block {
	font:Amatic SC;
    position: absolute;
    color: white;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -55%);
    width:1000px;
    font-size:40px;
}

.page {
	background-color: #636e7a;
	color: #ffffff;
}
.headerImage img{
	width: 100%
}
.weather{
padding-top: 1px;
color: black;
}
div.firstDeets{
	display: flex;
	align-items: center;
	width:400px;
	height:80px;

}
div.firstDeets img{
	width:20%;
}
div.parkMilesOfTrail{
	display: flex;
	align-items: center;
	width:400px;
	height:80px;
}
div.parkMilesOfTrail img{
	width: 20%;
}
div.parkNumberOfCampsites{
	display:flex;
	align-items:center;
	width:400px;
	height: 80px;
}
div.parkNumberOfCampsites img{
	width:20%;
}
